.brands {
  &__container {
    margin-top: 30px;
  }

  &__inner {
    background: linear-gradient(90deg, #F8F8F8 1.39%, #FFF 100%);
    padding: 16px 20px;
  }

  &__swiper {
    position: relative;
    width: 100%;
    height: 100%;
    padding-bottom: 50px;
    overflow: hidden;
  }

  &__card-container {
    display: flex;
    align-items: center;
    gap: 0 16px;
    padding: 20px;
    margin-left: 20px;
  }

  &__collapse-action {
    display: none;
  }

  &__pagination .swiper-pagination-bullet {
    opacity: 1;
    width: 14px;
    height: 14px;
    transform: scale(1) !important;
    background-color: $pagination-base;
  }

  &__pagination .swiper-pagination-bullet-active {
    background-color: $pagination-active;
  }
}

@media (min-width: $tableWidth) {
  .brands {

    &__container {
      margin-top: 30px;
      padding: 0 16px;
    }

    &__inner {
      background: linear-gradient(90deg, #F8F8F8 1.39%, #FFF 100%);
      padding: 16px 0;
      border-top: 1px solid #D9FFF5;
    }

    &__swiper-wrapper.swiper-wrapper {
      display: grid;
      gap: 16px 12px;
      grid-template-columns: repeat(auto-fit, minmax(225px, 1fr));
      transform: translate3d(0px, 0, 0) !important;
      margin-bottom: 16px;
    }

    &__slide {
      width: 100% !important;
    }

    &__slide:nth-child(n+9) {
      display: none;
    }

    &__pagination .swiper-pagination-bullet {
      display: none;
    }

    &__card-container {
      margin-left: 0;
    }

    &__collapse-container {
      display: grid;
      gap: 16px 12px;
      grid-template-columns: repeat(auto-fit, minmax(225px, 1fr));
      margin-bottom: 16px;
    }

    &__collapse-action {
      display: inline-block;
    }
  }
}