.brand {

  &__content-container {
    margin-top: 40px;
    border-top: 1px solid $border-lite;
    background: linear-gradient(90deg, #F8F8F8 1.39%, #FFF 100%);
    padding: 0 20px;
  }

  &__container {
    margin-top: 40px;
  }

  &__swiper-wrapper {
    padding-left: 16px;
    padding-right: 16px;
    padding-bottom: 35px;
  }

  &__card {
    padding: 20px 16px;
  }

  &__route {
    margin-left: auto;
  }

  &__collapse-container {
    margin-top: 16px;
    margin-bottom: 16px;
  }

  &__company-svg {
    height: 100%;
  }

  &__collapse-action {
    display: none;
  }
}

@media (min-width: $tableWidth) {
  .brand {

    &__container {
      padding: 20px;
    }

    &__swiper-wrapper {
      padding: 0;
      flex-wrap: wrap;
      gap: 16px 24px;
    }

    &__slide {
      width: calc(100% / 3 - 24px) !important;
    }

    &__slide:nth-child(n+7) {
      display: none;
    }

    &__collapse-container {
      display: flex;
      flex-wrap: wrap;
      gap: 16px 24px;
    }

    &__collapse-action {
      display: block;
    }
  }
}

@media (min-width: $desktopWidth) {
  .brand {
    &__slide {
      width: calc(100% / 4 - 24px) !important;
    }

    &__slide:nth-child(n+5) {
      display: none;
    }
  }
}