.header {

  &__main {
    position: relative;
    padding: 24px 16px;
    background-color: $default-color;
    display: grid;
    align-items: center;
    grid-template-columns: repeat(3, 1fr);
  }

  &__left {
    display: flex;
    align-items: center;
    gap: 0 8px;
  }

  &__vertical-line {
    margin-left: auto;
    margin-right: auto;
  }

  &__left-vertical-line {
    visibility: hidden;
  }

  &__right {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 0 8px;
  }

  &__right-vertical-line {
    margin: 0 20px;
  }

  &__search {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }

  &__plug {
    visibility: hidden;
  }
}

@media (min-width: $tableWidth ) {
  .header {

    &__left {
      gap: 0 16px;
    }

    &__vertical-line {
      visibility: hidden;
    }

    &__left-vertical-line {
      visibility: visible;
    }
  }
}

@media (min-width: $desktopWidth ) {
  .header {
    &__main {
      position: absolute;
    }
  }
}