.header {
  min-height: 100vh;

  &__main {
    position: relative;
    padding: 24px 16px;
    background-color: $default-color;
    display: grid;
    align-items: center;
    grid-template-columns: repeat(2, 1fr);
  }

  &__left {
    display: flex;
    align-items: center;
    gap: 0 16px;
  }

  &__right {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 0 16px;
  }

  &__search {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
}

@media (min-width: $desktopWidth ) {
  .header {
    &__main {
      display: none;
    }
  }
}