.navbar {
  position: fixed;
  left: 0;
  top: 0;
  background-color: $default-color;
  height: 100vh;
  width: 100%;
  z-index: 3;
  transition: left .45s ease-in-out;

  &__header-container {
    flex-direction: row;
    align-items: center;
    padding: 24px 16px;
  }

  &__left {
    display: flex;
    align-items: center;
    gap: 0 16px;
    flex: 1 1 auto
  }
}

.navbar--on {
  left: 0;
  box-shadow: 16px 0px 52px 0px rgba(14, 24, 80, 0.20);
}

.navbar--off {
  left: -100%;
  box-shadow: none;
}

@media (min-width: $phoneWidth) {
  .navbar {
    width: 320px;
  }
}

@media (min-width: $desktopWidth ) {
  .navbar {
    box-shadow: none;

    &__close-navbar {
      visibility: hidden;
      position: absolute;
    }
  }
}