.sub-menu {
  &__container {
    position: relative;
    padding: 24px 0;
  }

  &__top {
    display: flex;
    margin: 0 16px;
  }

  &__title {
    flex: 1 1 auto;
    white-space: nowrap;
  }

  &__right {
    display: flex;
    align-items: center;
    gap: 0 8px;
    transform: translateY(-95px);
  }

  &__vertical-line {
    visibility: hidden;
  }

  &__application {
    display: flex;
    gap: 0 8px;
    align-items: center;
  }

  &__list {
    overflow-y: auto;
    display: flex;
    gap: 0 8px;
    padding: 0;
    list-style: none;
    scrollbar-width: none;
  }

  &__item:first-child {
    margin-left: 16px;
  }


  &__list::-webkit-scrollbar {
    width: 0;
    height: 0;
  }

  &__link {
    white-space: nowrap
  }

  &__link--active {
    border: 2px solid $border-lighter;
    background-color: $default-color;
  }
}

@media (min-width: $tableWidth ) {
  .sub-menu {
    &__vertical-line {
      visibility: visible;
      margin: 0 10px;
    }
  }
}

@media (min-width: $desktopWidth ) {
  .sub-menu {
    &__container {
      padding: 42px 0;
    }

    &__top {
      margin: 0 35px;
    }

    &__right {
      gap: 0 32px;
    }

    &__item:first-child {
      margin-left: 35px;
    }

    &__right {
      transform: translateY(0);
    }

    &__typeparagraph {
      visibility: visible;
      position: static;
    }

    &__vertical-line {
      visibility: hidden;
      position: absolute;
    }
  }
}

@media (hover: hover) {
  .sub-menu {
    &__application:hover .typeparagraph {
      color: $hover-primary;
    }
  }
}