@font-face {
  font-family: "TTLakes";
  src: url("../../assets/fonts/TTLakes-Medium.woff2") format("woff2"), url("../../assets/fonts/TTLakes-Medium.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "TTLakesBold";
  src: url("../../assets/fonts/TTLakesCondensed-Bold.woff2") format("woff2"), url("../../assets/fonts/TTLakesCondensed-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}
