body {
  font-weight: 400;
  font-family: $mainFont;
  background-color: $fon-color;
  min-height: 5000px;
  // overflow: hidden;
  backdrop-filter: blur(5px);
}

.vertical-line {
  background-color: $border-lightex;
  width: 2px;
  height: 32px;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.hidden {
  visibility: hidden;
  position: absolute;
  opacity: 0;
  left: 0;
  top: 0;
}

.gradient-left {
  position: fixed;
  right: 0;
  top: 0;
  width: 24px;
  height: 100%;
  background: linear-gradient(270deg, #F8F8F8 16.84%, rgba(248, 248, 248, 0.00) 100%);
}

.blure {
  position: absolute;
  background-color: $default-color;
  width: 100vw;
  height: 100vh;
  left: 0;
  top: 0;
  z-index: 1;
  transition: 0.2s opacity, 0.2s visibility;
}

.blure--on {
  visibility: visible;
  opacity: 0.9605;
}

.blure--off {
  visibility: hidden;
  opacity: 0;
}

@media (min-width: $tableWidth) {

  .hidden--table--off {
    display: block;
    position: relative;
    visibility: visible;
    opacity: 1;
    z-index: 1;
  }

  .hidden--table--on {
    display: none;
    visibility: hidden;
    position: absolute;
    opacity: 0;
    z-index: -3;
  }
}

@media (min-width: $desktopWidth ) {
  .hidden--desktop--on {
    display: none;
    visibility: hidden;
    position: absolute;
    opacity: 0;
    z-index: -3;
  }

  .hidden--desktop--off {
    display: block;
    position: relative;
    visibility: visible;
    opacity: 1;
    z-index: 1;
  }
}

@media (min-width: $smPhoneWidth) {}