body {
  font-weight: 400;
  font-family: $mainFont;
  background-color: $fon-color;
}

.app {
  position: relative;
  min-height: 100vh;
}

.visibility-hidden {
  visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  transition: visibility .2s;
}

.gradient-left {
  position: fixed;
  right: 0;
  top: 0;
  width: 24px;
  height: 100%;
  background: linear-gradient(270deg, #F8F8F8 16.84%, rgba(248, 248, 248, 0.00) 100%);
}

@media (min-width: $smPhoneWidth) {}

@media (min-width: $tableWidth) {}

@media (min-width: $desktopWidth ) {
  .app {
    display: flex;
    justify-content: center;
    gap: 0 35px;
  }

  .page__content {
    width: calc(1440px - 320px); 
  }
}