$mainFont                : 'TTLakes', sans-serif;

$desktopWidth            : 1440px;
$tableWidth              : 768px;
$phoneWidth              : 360px;
$smPhoneWidth            : 320px;

// Pagination color
$pagination-base         :#DDDDDD;
$pagination-active         :#B5B6BC;

// Main color
$base-color              : #1B1C21;
$default-color           : #ffffff;
$primary-color           : #444ce0;
$success-color           : #26de81;
$danger-color            : #FF3E79;
$warning-color           : #fed330;
$light-color             : #7E7E82;
$purple-color            : #8854d0;
$fon-color               : #F8F8F8;


// hover Color 
$hover-primary           : #7E7E82;
$hover-danger            : #FF3E79;

// Neutral Color
$neutral-primary         : #303133;
$neutral-regular         : #7E7E82;
$neutral-secondary       : #909399;
$neutral-placeholder     : #C0C4CC;

// Border Color
$border-light            : #41F6D7;
$border-lighter          : #B8FFEC;
$border-lightex          : #EAEAEA;