.link {
  position: relative;
  display: inline-block;
  letter-spacing: -0.2px;
}

.link--mode--primary {
  text-decoration: none;
  color: $base-color;
  border-left: 4px solid transparent;
  transition: 0.2s color;
} 

.link--mode--primary::before {
 content: '';
 position: absolute;
 left: 0;
 top: 50%;
 transform: translate(12px, -50%);
 width: 4px;
 height: 0;
 background-color: transparent;
 transition: 0.2s background-color, 0.2s transform, 0.2s height;
} 

.link--mode--secondary {
  text-decoration: none;
  color: $light-color;
  border-radius: 6px;
  border: 2px solid transparent;
  transition: 0.2s border;
} 

.link--mode--mail {
  text-decoration: none;
  color: $base-color;
}

.link--mode--tel {
  text-decoration: none;
  color: $base-color;
}

.link--size--small {
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.5rem;
} 

.link--size--md {
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.5rem;
  padding: 8px 16px;
} 

.link--size--super-extra {
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 2rem;
} 




@media (hover: hover) {
  .link--mode--primary:hover {
    color: $hover-primary;
  }

  .link--mode--primary:hover::before {
    height: 80%;
    background-color: $border-light;
    transform: translate(-19.99px, -50%);
  }

  .link--mode--secondary:hover {
    border: 2px solid $border-lighter;
  }

  .link--mode--mail:hover {
    text-decoration: underline
  }
}