@import '../utils/vars.scss';
@import '../utils/mixin.scss';

.title {
  letter-spacing: -0.6px;
}

.title--mode--primary {
  color: #000;
} 

.title--size--extra {
  font-size: 28px;
  font-weight: 700;
  line-height: 12px;
} 