@import './utils/normolize.scss';
@import './utils/vars.scss';
@import './utils/mixin.scss';

@import './modules/header.scss';

@import './ui/link.scss';
@import './ui/title.scss';
@import './ui/logo.scss';
@import './ui/chip.scss';

body {
  font-weight: 400;
  font-family: $mainFont;
  background-color: $fon-color;
  min-height: 5000px;
  overflow: hidden
}

.vertical-line {
  background-color: $border-lightex;
  margin-right: 20px;
  width: 2px;
  height: 32px;
}

@media (min-width: 0) and (max-width: $smPhoneWidth) {
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

@media (min-width: $smPhoneWidth) {
}

@media (min-width: $smPhoneWidth) {
}

